In [6]:
# import libraries, set pandas options
import os
import numpy as np
import pandas as pd

pd.set_option('display.max_rows', 6)
pd.set_option('display.notebook_repr_html', True)
pd.set_option('display.max_column', 10)

In [8]:
# import data
df = pd.read_csv(os.path.join('..', 'datasets', 'zillow-02-starter.csv'))

In [9]:
print(df)

             ID                                    Address  Latitude  \
0      15063471  55 Vandewater St APT 9, San Francisco, CA  37805103
1      15063505        740 Francisco St, San Francisco, CA  37804420
2      15063609        819 Francisco St, San Francisco, CA  37803728
..          ...                                        ...       ...
997  2128308939       33 Santa Cruz Ave, San Francisco, CA  37709136
998  2131957929          1821 Grant Ave, San Francisco, CA  37803760
999  2136213970           1200 Gough St, San Francisco, CA  37784770

     Longitude DateOfSale     ...       Size SizeUnit LotSize  LotSizeUnit  \
0   -122412856    12/4/15     ...        550     sqft     NaN          NaN
1   -122417389   11/30/15     ...       1430     sqft    2435         sqft
2   -122419055   11/12/15     ...       2040     sqft    3920         sqft
..         ...        ...     ...        ...      ...     ...          ...
997 -122465332   12/10/15     ...       1738     sqft    2299         sqft
998 -122408531   12/15/15     ...       1048     sqft     NaN          NaN
999 -122424100    1/10/16     ...        900     sqft     NaN          NaN

     BuiltInYear
0           1980
1           1948
2           1976
..           ...
997         1976
998         1975
999         1966

[1000 rows x 15 columns]

In [10]:
type(df)

pandas.core.frame.DataFrame

In [11]:
df

,ID,Address,Latitude,Longitude,DateOfSale,...,Size,SizeUnit,LotSize,LotSizeUnit,BuiltInYear
0,15063471,"55 Vandewater St APT 9, San Francisco, CA",37805103,-122412856,12/4/15,...,550,sqft,NaN,NaN,1980
1,15063505,"740 Francisco St, San Francisco, CA",37804420,-122417389,11/30/15,...,1430,sqft,2435,sqft,1948
2,15063609,"819 Francisco St, San Francisco, CA",37803728,-122419055,11/12/15,...,2040,sqft,3920,sqft,1976
...,...,...,...,...,...,...,...,...,...,...,...
997,2128308939,"33 Santa Cruz Ave, San Francisco, CA",37709136,-122465332,12/10/15,...,1738,sqft,2299,sqft,1976
998,2131957929,"1821 Grant Ave, San Francisco, CA",37803760,-122408531,12/15/15,...,1048,sqft,NaN,NaN,1975
999,2136213970,"1200 Gough St, San Francisco, CA",37784770,-122424100,1/10/16,...,900,sqft,NaN,NaN,1966

In [15]:
# selecting columns of a df

# columns 5 and 6 by raw col index  (list in brackets)
df[ [5,6]]

# column 7 only
df[ [7] ]

     SalePrice SalePriceUnit
0    710000.00             $
1         2.15            $M
2         5.60            $M
..         ...           ...
997  830000.00             $
998  835000.00             $
999  825000.00             $

[1000 rows x 2 columns]

In [17]:
# columns of df are a df
# ops on full csv can be done on subset
type(df[[5,6]])

pandas.core.frame.DataFrame

In [18]:
# non-int value --> automatic col matching
df.columns

Index([u'ID', u'Address', u'Latitude', u'Longitude', u'DateOfSale',
       u'SalePrice', u'SalePriceUnit', u'IsAStudio', u'BedCount', u'BathCount',
       u'Size', u'SizeUnit', u'LotSize', u'LotSizeUnit', u'BuiltInYear'],
      dtype='object')

In [22]:
# get Address, Latitude, Longitude
df[['Address', 'Latitude', 'Longitude']]

                                       Address  Latitude  Longitude
0    55 Vandewater St APT 9, San Francisco, CA  37805103 -122412856
1          740 Francisco St, San Francisco, CA  37804420 -122417389
2          819 Francisco St, San Francisco, CA  37803728 -122419055
..                                         ...       ...        ...
997       33 Santa Cruz Ave, San Francisco, CA  37709136 -122465332
998          1821 Grant Ave, San Francisco, CA  37803760 -122408531
999           1200 Gough St, San Francisco, CA  37784770 -122424100

[1000 rows x 3 columns]

In [23]:
# cannot mix int and non-int in column slicing
df[[0,'Address']]

KeyError: '[0] not in index'

In [26]:
# non-list, non-int slice --> series
df['Address']

0      55 Vandewater St APT 9, San Francisco, CA
1            740 Francisco St, San Francisco, CA
2            819 Francisco St, San Francisco, CA
                         ...
997         33 Santa Cruz Ave, San Francisco, CA
998            1821 Grant Ave, San Francisco, CA
999             1200 Gough St, San Francisco, CA
Name: Address, dtype: object

In [29]:
type(df['Address'])

pandas.core.series.Series

In [28]:
type(df.Address)

pandas.core.series.Series

In [32]:
#get location index of a column
df.columns.get_loc('BedCount')

8

In [33]:
# same thing via index/string ref  --- return here later
df.[df.columns.get_loc('BedCount')]

SyntaxError: invalid syntax (<ipython-input-33-c6b10272265e>, line 2)

In [35]:
# selecting rows and values of a dataframe using the index
# slicing using the [] operator

# first 5 rows by rownum
df[:5]

,ID,Address,Latitude,Longitude,DateOfSale,...,Size,SizeUnit,LotSize,LotSizeUnit,BuiltInYear
0,15063471,"55 Vandewater St APT 9, San Francisco, CA",37805103,-122412856,12/4/15,...,550,sqft,NaN,NaN,1980
1,15063505,"740 Francisco St, San Francisco, CA",37804420,-122417389,11/30/15,...,1430,sqft,2435,sqft,1948
2,15063609,"819 Francisco St, San Francisco, CA",37803728,-122419055,11/12/15,...,2040,sqft,3920,sqft,1976
3,15064044,"199 Chestnut St APT 5, San Francisco, CA",37804392,-122406590,12/11/15,...,1060,sqft,NaN,NaN,1930
4,15064257,"111 Chestnut St APT 403, San Francisco, CA",37804240,-122405509,1/15/16,...,1299,sqft,NaN,NaN,1993

In [36]:
# select rows by index label and location
df = df.set_index('ID')
df

,Address,Latitude,Longitude,DateOfSale,SalePrice,...,Size,SizeUnit,LotSize,LotSizeUnit,BuiltInYear
ID,,,,,,,,,,,
15063471,"55 Vandewater St APT 9, San Francisco, CA",37805103,-122412856,12/4/15,710000.00,...,550,sqft,NaN,NaN,1980
15063505,"740 Francisco St, San Francisco, CA",37804420,-122417389,11/30/15,2.15,...,1430,sqft,2435,sqft,1948
15063609,"819 Francisco St, San Francisco, CA",37803728,-122419055,11/12/15,5.60,...,2040,sqft,3920,sqft,1976
...,...,...,...,...,...,...,...,...,...,...,...
2128308939,"33 Santa Cruz Ave, San Francisco, CA",37709136,-122465332,12/10/15,830000.00,...,1738,sqft,2299,sqft,1976
2131957929,"1821 Grant Ave, San Francisco, CA",37803760,-122408531,12/15/15,835000.00,...,1048,sqft,NaN,NaN,1975
2136213970,"1200 Gough St, San Francisco, CA",37784770,-122424100,1/10/16,825000.00,...,900,sqft,NaN,NaN,1966

In [37]:
df[:1]

,Address,Latitude,Longitude,DateOfSale,SalePrice,...,Size,SizeUnit,LotSize,LotSizeUnit,BuiltInYear
ID,,,,,,,,,,,
15063471,"55 Vandewater St APT 9, San Francisco, CA",37805103,-122412856,12/4/15,710000,...,550,sqft,NaN,NaN,1980

In [39]:
#  df[:3,4]   just one row?  check later

In [46]:
# row with specific index  (i.e., id == 1230129392)
df.loc[15063505]

Address        740 Francisco St, San Francisco, CA
Latitude                                  37804420
Longitude                               -122417389
                              ...
LotSize                                       2435
LotSizeUnit                                   sqft
BuiltInYear                                   1948
Name: 15063505, dtype: object

In [47]:
type(df.loc[15063505])

pandas.core.series.Series

In [43]:
#dataframe with list of index location
df.loc[[15063505,15064055]]

pandas.core.frame.DataFrame

In [44]:
type(df.loc[[15063505,15064055]])

pandas.core.frame.DataFrame

In [48]:
# can always use iloc for row index
df.iloc[[1,3]]   #rownums 2 and 4

,Address,Latitude,Longitude,DateOfSale,SalePrice,...,Size,SizeUnit,LotSize,LotSizeUnit,BuiltInYear
ID,,,,,,,,,,,
15063505,"740 Francisco St, San Francisco, CA",37804420,-122417389,11/30/15,2.15,...,1430,sqft,2435,sqft,1948
15064044,"199 Chestnut St APT 5, San Francisco, CA",37804392,-122406590,12/11/15,1.50,...,1060,sqft,NaN,NaN,1930

In [51]:
# scalar lookup by label or location using .at[] and .iat
df.at[15064044, 'DateOfSale']

'12/11/15'

In [52]:
# raw indexes still work

In [53]:
# series: selecting rows of a df based on boolean  --> series 
df.BuiltInYear < 1900

ID
15063471      False
15063505      False
15063609      False
              ...
2128308939    False
2131957929    False
2136213970    False
Name: BuiltInYear, dtype: bool

In [54]:
#  df based on bollean
df [ df.BuiltInYear < 1900]

,Address,Latitude,Longitude,DateOfSale,SalePrice,...,Size,SizeUnit,LotSize,LotSizeUnit,BuiltInYear
ID,,,,,,,,,,,
15065140,"1407 Montgomery St APT 2, San Francisco, CA",37802299,-122404941,1/28/16,976000.00,...,1000,sqft,NaN,NaN,1870
15076156,"1533 Sutter St, San Francisco, CA",37786658,-122426481,11/12/15,5.53,...,7375,sqft,2748,sqft,1890
15078536,"640 Steiner St, San Francisco, CA",37775399,-122432491,12/15/15,1.50,...,1593,sqft,NaN,NaN,1895
...,...,...,...,...,...,...,...,...,...,...,...
123597223,"1954 Golden Gate Ave, San Francisco, CA",37778246,-122442763,11/24/15,1.10,...,1275,sqft,NaN,NaN,1895
123597388,"667 Shotwell St # A, San Francisco, CA",37757851,-122415629,2/10/16,775000.00,...,1212,sqft,NaN,NaN,1890
2122992200,"129 Octavia St, San Francisco, CA",37773192,-122424037,11/20/15,2.75,...,3655,sqft,NaN,NaN,1883

In [56]:
df[ (df.BuiltInYear < 1900) & (df.Size > 1500)]

,Address,Latitude,Longitude,DateOfSale,SalePrice,...,Size,SizeUnit,LotSize,LotSizeUnit,BuiltInYear
ID,,,,,,,,,,,
15076156,"1533 Sutter St, San Francisco, CA",37786658,-122426481,11/12/15,5.53,...,7375,sqft,2748,sqft,1890
15078536,"640 Steiner St, San Francisco, CA",37775399,-122432491,12/15/15,1.50,...,1593,sqft,NaN,NaN,1895
15078866,"753-755 Oak St, San Francisco, CA",37773576,-122431663,11/10/15,375000.00,...,2430,sqft,3781,sqft,1890
...,...,...,...,...,...,...,...,...,...,...,...
82785514,"1394 Mcallister St, San Francisco, CA",37778463,-122434933,11/13/15,2.10,...,2300,sqft,NaN,NaN,1890
119684777,"967 Hayes St, San Francisco, CA",37775645,-122432222,12/17/15,1.95,...,3006,sqft,NaN,NaN,1885
2122992200,"129 Octavia St, San Francisco, CA",37773192,-122424037,11/20/15,2.75,...,3655,sqft,NaN,NaN,1883

In [60]:
# specific columns from a filtered df
df[(df.BuiltInYear < 1900) & (df.Size > 1500)] [['Address']]

                                          Address
ID
15076156        1533 Sutter St, San Francisco, CA
15078536        640 Steiner St, San Francisco, CA
15078866        753-755 Oak St, San Francisco, CA
...                                           ...
82785514    1394 Mcallister St, San Francisco, CA
119684777         967 Hayes St, San Francisco, CA
2122992200      129 Octavia St, San Francisco, CA

[9 rows x 1 columns]

In [73]:
# 
# 
# moving onto next part 
# 
# 

# import data
df = pd.read_csv(os.path.join('..', 'datasets', 'zillow-02-starter.csv'), index_col = 'ID')

In [74]:
# quick check
df

,Address,Latitude,Longitude,DateOfSale,SalePrice,...,Size,SizeUnit,LotSize,LotSizeUnit,BuiltInYear
ID,,,,,,,,,,,
15063471,"55 Vandewater St APT 9, San Francisco, CA",37805103,-122412856,12/4/15,710000.00,...,550,sqft,NaN,NaN,1980
15063505,"740 Francisco St, San Francisco, CA",37804420,-122417389,11/30/15,2.15,...,1430,sqft,2435,sqft,1948
15063609,"819 Francisco St, San Francisco, CA",37803728,-122419055,11/12/15,5.60,...,2040,sqft,3920,sqft,1976
...,...,...,...,...,...,...,...,...,...,...,...
2128308939,"33 Santa Cruz Ave, San Francisco, CA",37709136,-122465332,12/10/15,830000.00,...,1738,sqft,2299,sqft,1976
2131957929,"1821 Grant Ave, San Francisco, CA",37803760,-122408531,12/15/15,835000.00,...,1048,sqft,NaN,NaN,1975
2136213970,"1200 Gough St, San Francisco, CA",37784770,-122424100,1/10/16,825000.00,...,900,sqft,NaN,NaN,1966

In [75]:
# remove columns  note:  df.ColName will not work
del df['Latitude']
del df['Longitude']

In [76]:
# formatting sales price format 
df.SalePriceUnit.unique()

array(['$', '$M'], dtype=object)

In [77]:
# separate dataframes -- dollarsign data vs MM data
df_1 = df[df.SalePriceUnit == '$']

#delete (in place) unit column
del df_1['SalePriceUnit']


# MM df
df_6 = df[df.SalePriceUnit == '$M']
del df_6['SalePriceUnit']

# Replacing the content of a column
df_6.SalePrice = df_6.SalePrice * (10 ** 6)

# Adding rows to a DataFrame
# Concatenation of two DataFrame objects
df = pd.concat([df_1, df_6])
df

,Address,DateOfSale,SalePrice,IsAStudio,BedCount,...,Size,SizeUnit,LotSize,LotSizeUnit,BuiltInYear
ID,,,,,,,,,,,
15063471,"55 Vandewater St APT 9, San Francisco, CA",12/4/15,710000,False,1,...,550,sqft,NaN,NaN,1980
15064257,"111 Chestnut St APT 403, San Francisco, CA",1/15/16,970000,False,2,...,1299,sqft,NaN,NaN,1993
15064295,"111 Chestnut St APT 702, San Francisco, CA",12/17/15,940000,False,2,...,1033,sqft,NaN,NaN,1993
...,...,...,...,...,...,...,...,...,...,...,...
2108546010,"1738 Lombard St APT 4, San Francisco, CA",1/14/16,1400000,False,2,...,NaN,NaN,NaN,NaN,2004
2121221385,"925 Larkin St, San Francisco, CA",11/30/15,1430000,False,NaN,...,6600,sqft,NaN,NaN,1907
2122992200,"129 Octavia St, San Francisco, CA",11/20/15,2750000,True,NaN,...,3655,sqft,NaN,NaN,1883

In [78]:
# sort
df.sort()

/Users/justinfu/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:2: FutureWarning: sort(....) is deprecated, use sort_index(.....)
  from ipykernel import kernelapp as app

,Address,DateOfSale,SalePrice,IsAStudio,BedCount,...,Size,SizeUnit,LotSize,LotSizeUnit,BuiltInYear
ID,,,,,,,,,,,
15063471,"55 Vandewater St APT 9, San Francisco, CA",12/4/15,710000,False,1,...,550,sqft,NaN,NaN,1980
15063505,"740 Francisco St, San Francisco, CA",11/30/15,2150000,False,NaN,...,1430,sqft,2435,sqft,1948
15063609,"819 Francisco St, San Francisco, CA",11/12/15,5600000,False,2,...,2040,sqft,3920,sqft,1976
...,...,...,...,...,...,...,...,...,...,...,...
2128308939,"33 Santa Cruz Ave, San Francisco, CA",12/10/15,830000,False,3,...,1738,sqft,2299,sqft,1976
2131957929,"1821 Grant Ave, San Francisco, CA",12/15/15,835000,False,2,...,1048,sqft,NaN,NaN,1975
2136213970,"1200 Gough St, San Francisco, CA",1/10/16,825000,False,1,...,900,sqft,NaN,NaN,1966

In [79]:
df.IsAStudio

ID
15063471      False
15064257      False
15064295      False
              ...
2108546010    False
2121221385    False
2122992200     True
Name: IsAStudio, dtype: object

In [80]:
#change booleans to 0,1
df.IsAStudio = 1 * df.IsAStudio

In [81]:
df.IsAStudio

ID
15063471      0
15064257      0
15064295      0
             ..
2108546010    0
2121221385    0
2122992200    1
Name: IsAStudio, dtype: object

In [82]:
df.SizeUnit.unique()

array(['sqft', nan], dtype=object)

In [83]:
#reminder check out to get all uniques for a df at once

In [84]:
# same thing for lotsize
df.LotSizeUnit.unique()

array([nan, 'sqft', 'ac'], dtype=object)

In [85]:
df_na = df[df.LotSizeUnit.isnull()]
del df_na['LotSizeUnit']
len(df_na)

444

In [86]:
df_sqft = df[df.LotSizeUnit == 'sqft']
del df_sqft['LotSizeUnit']
len(df_sqft)

552

In [87]:
df_ac = df[df.LotSizeUnit == 'ac']
del df_ac['LotSizeUnit']
len(df_ac)

4

In [88]:
# 1 acre = 43560 sqft

df_ac.LotSize = df_ac.LotSize * (43560)

In [89]:
df = pd.concat([df_na, df_sqft, df_ac]).sort()

/Users/justinfu/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:1: FutureWarning: sort(....) is deprecated, use sort_index(.....)
  if __name__ == '__main__':

In [90]:
df

,Address,DateOfSale,SalePrice,IsAStudio,BedCount,BathCount,Size,SizeUnit,LotSize,BuiltInYear
ID,,,,,,,,,,
15063471,"55 Vandewater St APT 9, San Francisco, CA",12/4/15,710000,0,1,NaN,550,sqft,NaN,1980
15063505,"740 Francisco St, San Francisco, CA",11/30/15,2150000,0,NaN,2.0,1430,sqft,2435,1948
15063609,"819 Francisco St, San Francisco, CA",11/12/15,5600000,0,2,3.5,2040,sqft,3920,1976
...,...,...,...,...,...,...,...,...,...,...
2128308939,"33 Santa Cruz Ave, San Francisco, CA",12/10/15,830000,0,3,3.0,1738,sqft,2299,1976
2131957929,"1821 Grant Ave, San Francisco, CA",12/15/15,835000,0,2,2.0,1048,sqft,NaN,1975
2136213970,"1200 Gough St, San Francisco, CA",1/10/16,825000,0,1,1.0,900,sqft,NaN,1966

In [91]:
df.to_csv(os.path.join('..', 'datasets', 'zillow-02-final.csv'), index_label = 'ID')

In [ ]:
#  in class lab