# SF-DAT-21 | Lab 02

[Note: This was a quiz given in Roger Peng [Coursera](https://www.coursera.org) class [Computing for Data Analysis](https://www.coursera.org/course/compdata).]

In [30]:
import os
import pandas as pd

df = pd.read_csv(os.path.join('..', 'datasets', 'ozone.csv'))

## 0. Display the dataset's head

In [10]:
# [rows][[col1,col2]]
df[:5]

   Ozone  Solar.R  Wind  Temp  Month  Day
0     41      190   7.4    67      5    1
1     36      118   8.0    72      5    2
2     12      149  12.6    74      5    3
3     18      313  11.5    62      5    4
4    NaN      NaN  14.3    56      5    5

## 1. Print the column names of the dataset to the screen, one column name per line

In [18]:
df_cols = df.columns.uniques()
df_cols

AttributeError: 'Index' object has no attribute 'uniques'

## 2. Extract the first 2 rows of the data frame and print them to the console. What does the output look like?

In [17]:
df_first_two = df[:2]
df_first_two

   Ozone  Solar.R  Wind  Temp  Month  Day
0     41      190   7.4    67      5    1
1     36      118   8.0    72      5    2

## 3. How many observations (i.e., rows) are in this data frame?

In [20]:
len(df)

153

## 4. Extract the last 2 rows of the data frame and print them to the console.  What does the output look like?

In [25]:
df_last_two = df[-2:]
df_last_two

     Ozone  Solar.R  Wind  Temp  Month  Day
151     18      131   8.0    76      9   29
152     20      223  11.5    68      9   30

## 5. What is the value of Ozone in the 47th row?

In [34]:
df[46:47][['Ozone']]

    Ozone
46     21

## 6. How many missing values are in the Ozone column of this data frame?

In [46]:
df.Ozone.unique()
df_ozone_nan = df[df.Ozone.isnull()]
len(df_ozone_nan)

153

## 7. What is the mean of the Ozone column in this dataset?  Exclude missing values (coded as NA) from this calculation

In [51]:
#df_ozone_vals = df[df.Ozone.notnull()]
#df_ozone_vals.Ozone.mean()
df.Ozone.mean()

42.12931034482759

## 8. Extract the subset of rows of the data frame where Ozone values are above 31 and Temp values are above 90.  What is the mean of Solar.R in this subset?

In [53]:
df_ozone_gt31_temp_gt90 = df[(df.Ozone > 31) & (df.Temp > 90)]
df_ozone_gt31_temp_gt90['Solar.R'].mean()

212.8

## 9. What is the mean of Temp when Month is equal to 6?

In [57]:
#df_month_6 = df[(df.Month == 6)]
#df_month_6.Temp.mean()

df[(df.Month == 6)].Temp.mean()

79.1

## 10. What was the maximum Ozone value in the month of May (i.e. Month = 5)?

In [58]:
df[(df.Month == 5)].Temp.max()

81